

*{
    margin: 0;
    padding: 0;
}

body{

    background-color: white;
    font-size: larger;
    
    
}

nav{
    display:flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
}
.dip{
    list-style: none;
    display: flex;
}
 .dip li a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.pig{
    border: 1px solid black;
    background-color: rgb(15, 15, 228);
    border-radius: 5em;
}
.head{
    text-align: center;
    font-weight: bold;
    margin-top: 3em;
    font-size: 60px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    width: 800px;
    border:1px solid black;
    border-radius: 4em;
    height: 50px;
    cursor: pointer;
}
.ok{
    border: none;
    flex-grow: 1;
    outline: none;

}
.r{
    color: blue;    
}
.l{
    color: red;
}
.t{
    color: yellow;
}
.u{
    color: green;
}
.pix{
    width: 35px;
}


.search{
    width:25px ;
    height: 20px;
    align-items: center;
    margin-top: 0.5em;
    padding: 3px;
    cursor: pointer;
    
}
.record{
    width: 15px;
    height: 20px;
    align-items: center;
    margin-top: 0.5em;
    padding: 3px;
    cursor: pointer;
}
h1{
    text-align: center;
    margin-top: 1em;
    font-weight: 200;
}
.top{
    margin-top: 1em;
    
    
}
.line{
    list-style: none;
    display: flex;
}
.line li a{
    text-decoration: none;
    margin: 20px;
    color: black;
}

.left{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    
    
}
.left li a{
    text-decoration: none;
    margin: 10px;
     color: black;
    
}
.right{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}
.right li a{
    text-decoration: none;
    margin: 10px;
    color: black;
    justify-content: center;

}


footer{
    background-color: antiquewhite;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
@media (max-width:650px){
    footer nav{
        flex-direction: column;
    }
    .left{
        justify-content: center;
    }
    .right{
        justify-content: center;
    }
    .box{
        width: 95%;
    }
}










